In [13]:
import pandas as pd
import glob
import openpyxl
import os

In [14]:
patients_path = '../data/patients_all/'
appointments_path = '../data/appointments_all/'
cmd_path = '../data/CMD_all/'
ebs_path = '../data/EBS_all/'
fdrs_path = '../data/FDRs_all/'
medrize_path =  '../data/medrize_all/'

In [15]:
def read_csv_folder(path):
    files = glob.glob(path + "/*.csv")
    dfs = []
    for file in files:
        df = pd.read_csv(file, encoding='latin-1')
        dfs.append(df)
    df_final = pd.concat(dfs, ignore_index=True)
    return df_final

In [21]:
patients_df = read_csv_folder(patients_path)
appointments_df = read_csv_folder(appointments_path)

In [22]:
patients_df = patients_df.drop(columns=['Preferred Method of Communication','Ethnicity', 'Preferred Language',
       'Ethnicity / Preferred Language Effective Date', 'Race',
       'Race Effective Date', 'Smoking Status',
       'Smoking Status Effective Date'])

In [24]:
patients_df.describe

<bound method NDFrame.describe of        Patient Last Name Patient First Name Patient Middle Name  \
0               Martinez             Ashley                 Flo
1              Collymore             London                 NaN
2                 SWAIN              JAVON                   C
3                 LAHENS            KEISHA                  NaN
4             VALLENILLA            ELIJAH                  NaN
...                  ...                ...                 ...
190869           Mercado         Maria Vega                 NaN
190870          Gonzales              Maria                 NaN
190871             Simms             Martha                   M
190872          CHAPNICK              EDITH                 NaN
190873          Benjamin             Yvette                   D

       Patient Identifier     Sex Date of Birth     Age  \
0                   27536  Female    2003-03-08  21 yrs
1                   27539  Female    2014-01-25  11 yrs
2                  JA8954    Male    2004-04-28  20 yrs
3                 FL13901  Female    2004-11-01  20 yrs
4                 FL13902    Male    2019-08-28   5 yrs
...                   ...     ...           ...     ...
190869             HC2595    Male    1947-08-02  77 yrs
190870             HC2596  Female    1952-04-15  72 yrs
190871              61927  Female    1954-03-07  70 yrs
190872           CE484923  Female    1932-01-11  93 yrs
190873            CH24219  Female    1951-06-08  73 yrs

                  Address Line 1 Address Line 2      City State Postal Code  \
0              \t1101 GREENE AVE            NaN  Brooklyn    NY     11221.0
1             473 CENTRAL AVE 2R            NaN  Brooklyn    NY     11221.0
2            131 06 142nd Street            NaN   Jamaica    NY     11436.0
3                  3211 Avenue I            NaN  Brooklyn    NY     11210.0
4          45A Garden Village Dr            NaN   Buffalo    NY     14227.0
...                          ...            ...       ...   ...         ...
190869  2552 Webb Avenue Apt. 2M            NaN     Bronx    NY       10468
190870    75 Sherman Ave Apt 52             NaN  New York    NY       10040
190871         827 GREENE AVENUE            NaN  Brooklyn    NY       11221
190872          2790 west 5th st            NaN  Brooklyn    NY       11224
190873      333 East 92nd Street            NaN  Brooklyn    NY       11212

       Most Recent Visit Date      Home Phone    Mobile Phone Office Phone  \
0                  2021-02-12             NaN  (929) 293-8036          NaN
1                  2021-08-14             NaN  (347) 263-1264          NaN
2                  2022-01-03             NaN  (347) 809-4958          NaN
3                  2025-01-28  (516) 344-7308  (347) 677-6323          NaN
4                  2021-02-13             NaN  (347) 874-0982          NaN
...                       ...             ...             ...          ...
190869                    NaN             NaN  (917) 592-5048          NaN
190870                    NaN             NaN  (212) 569-5178          NaN
190871             2025-02-13             NaN  (347) 743-3657          NaN
190872                    NaN  (718) 477-9129  (917) 364-1976          NaN
190873             2025-02-13  (718) 498-0795  (917) 648-1866          NaN

                     Email Address Active Fake
0                              NaN    Yes   No
1                              NaN    Yes   No
2            longshaya30@gmail.com    Yes   No
3                              NaN    Yes   No
4       justinvallenilla@gmail.com    Yes   No
...                            ...    ...  ...
190869                         NaN    Yes   No
190870                         NaN    Yes   No
190871                         NaN    Yes   No
190872            rgold430@aol.com    Yes   No
190873           ypayne333@aol.com    Yes   No

[190874 rows x 19 columns]>

In [85]:
data_sorted = data.sort_values(by=['Deposit', 'Paid'], ascending=[False, False])

In [75]:
latest_purchases_idx = data_sorted.groupby(['Patient', 'CPT', 'DOS'])['Deposit'].idxmax()

In [76]:
latest_paid_data = data.loc[latest_purchases_idx]

In [77]:
latest_purchases_df = latest_paid_data.reset_index(drop=True)

In [78]:
latest_purchases_df.to_excel('data_cleaned_with_pandas.xlsx', index = False)

In [79]:
latest_purchases_df.shape

(46476, 10)

In [ ]:
#Since the billing data is spread in different .csv files, there is a need to iterate into a folder containing such files to append all data into a single DataFrame
def join_files(path):
    files = glob.glob(path + "/*.csv")
    dfs = []
    for file in files:
        df = pd.read_csv(file, encoding='latin-1')
        dfs.append(df)
    df_final = pd.concat(dfs, ignore_index=True)
    return df_final

In [ ]:
#Since if there is not a deposit means the claim has not been "resolved" and there is no need for that data as of now I will just drop those rows.
data = data.dropna(subset='Deposit')

#Convert the payments values to floats, and the dates to DateTime format.
data['Paid'] = data['Paid'].map(lambda x: float(x.replace("$", "").replace(",", "").replace(".", "")) / 100)
data['DOS'] = pd.to_datetime(data['DOS'])
data['Deposit'] = pd.to_datetime(data['Deposit'])

In [ ]:
#Now I want to get unique rows if the Claim, Patient, DOS and CPT are the same, such that I have the latest payment 
#because upon inspecting the data, it turned out to be the correct amount paid and correct insurance in all cases checked.
#To achieve this I need to first sort rows by Deposit Date from newest to oldest and then if ties persist, by highest to lowest by amount of payments
data = data.sort_values(by=["Deposit",'Paid'], ascending=[False, False])
latest_purchases_idx = data_sorted.groupby(['Patient', 'CPT', 'DOS'])['Deposit'].idxmax()

In [ ]:

latest_purchases_idx = data_sorted.groupby(['Patient', 'CPT', 'DOS'])['Deposit'].idxmax()


latest_paid_data = data.loc[latest_purchases_idx]
latest_purchases_df = latest_paid_data.reset_index(drop=True)
latest_purchases_df.to_excel('data_cleaned_with_pandas.xlsx', index = False)

In [ ]:
def names_match(name1, name2):
    return (name1.lower() == name2.lower() or
            abs(len(name1) - len(name2)) <= 2 and
            name1.lower().replace(" ", "").replace("-", "").replace(".", "") ==
            name2.lower().replace(" ", "").replace("-", "").replace(".", ""))

# Apply the matching function and update the 'match_name' column
def update_match_name(row):
    matches = [name for name in df2.loc[df2['date'] == row['date'], 'name'] if names_match(row['name'], name)]
    return ', '.join(matches) if matches else 'not found'

df1['match_name'] = df1.apply(update_match_name, axis=1)

# Count the number of names found
num_found_names = df1['match_name'].value_counts().get('not found', 0)

# Print the resulting DataFrame
print(df1)

# Print the number of names found
print(f"\nNumber of names not found: {num_found_names}")

In [ ]:
# Nombres Completos
# Nombres Completos inversos
# Nombres sin Iniciales
# Nombres sin Iniciales Inversos
# 2 Nombres con 2 nombres
# 2 Nombres con 2 nombres Inversos
# 
# 
###